<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer src="js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Piano Master</title>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="fix-block">
      <ul class="list-group">
        <li class="list-group-item"><a target=" _blank" href="https://www.onlinepianist.com/virtual-piano">Пианино
            здесь!</a></li>
        <li class="list-group-item"><a target="_blank" href="https://amdm.ru/akkordi/nirvana/4313/rape_me/">Песенник
            Rape Me</a></li>
      </ul>
    </div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Piano Master - </a>
    </nav>
    <div class="alert">
      <h2>Добро пожаловать! Играй уже через 15 миниут</h2>
      <p>Просто начни проходить этапы ниже</p>
    </div>


    <!-- Уровни -->
    <div>
      <div class="row">
        <div class="col-sm-3">
          <div class="nav flex-column nav-pills" id="lvl-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="intro-tab" data-toggle="pill" href="#intro" role="tab" aria-controls="intro"
              aria-selected="true">Подготовка 10 мин</a>
            <a class="nav-link" id="newbie-tab" data-toggle="pill" href="#newbie" role="tab" aria-controls="newbie"
              aria-selected="false">Новичок 5 мин</a>
            <a class="nav-link" id="veteran-tab" data-toggle="pill" href="#veteran" role="tab" aria-controls="veteran"
              aria-selected="false">Опытный 10 мин</a>
            <a class="nav-link" id="master-tab" data-toggle="pill" href="#master" role="tab" aria-controls="master"
              aria-selected="false">Мастер 15 мин</a>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="tab-content" id="lvl-tab-content">
            <div class="tab-pane fade show active" id="intro" role="tabpanel" aria-labelledby="intro">
              <div>
                <div>
                  <h3>Подготовка - 10 мин</h3>
                  <h4>Задача: выпишите аккорды вашей песни на лист бумаги и посмотрите видео</h4>
                  <hr>

                  <div>
                    <p><i>Нарисуй на листке данную таблицу:</i></p>

                    <table width='100%' class="table  table-responsive">
                      <caption>
                        <div class="form-inline"><button class="btn btn-primary"
                            @click="accordList.push(accordSelected + ( majorSelected ? '' : 'm'))">Добавить
                            аккорд</button>
                          <div class="custom-control custom-checkbox mx-3">
                            <input class="custom-control-input" type="checkbox" id="major" v-model="majorSelected">
                            <label class="custom-control-label" for="major">Мажор</label>
                          </div>
                          <select class="custom-select" v-model="accordSelected">
                            <option :value="note" v-for="note in notesEng">
                              {{note}}{{majorSelected? '' : 'm'}}
                            </option>
                          </select>
                        </div>
                      </caption>
                      <tr>
                        <th>Удалить</th>
                        <th>Аккорд</th>
                        <th>На русском</th>
                        <th>Ноты</th>
                        <th>Ноты на русском</th>
                      </tr>
                      <tr v-for="(accord, index) in accords">
                        <td><button class="btn btn-warning" @click="remove(accordList, index)">-</button> </td>
                        <td>{{accord.accord}}</td>
                        <td>{{accord.accordRus}} </td>
                        <td>{{accord.notes.join(" ")}} </td>
                        <td>{{accord.notesRus.join(" ")}} </td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/F70JXh-2H00" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                  <hr>
                  <table class="table">
                    <tr>
                      <th>Название нот</th>
                      <th>Аккорды на пианино</th>
                    </tr>
                    <tr>
                      <td width="50%"><img class="img-fluid"
                          src='http://romanovaelena.ru/wp-content/uploads/2012/10/Obuchenie-igre-na-sintezatore1.jpg'>
                      </td>
                      <td width="50%">
                        <img class="img-fluid" src='https://www.legato.su/stati/img/tablica-akkordov.jpg'>
                      </td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="newbie" role="tabpanel" aria-labelledby="newbie">
              <div>
                <div>
                  <h3>Новичок - 5 мин</h3>
                  <p>Уже на этом уровне вы сможете играть любые песни. Магия!<br>
                    <i>Если у вас есть пианино - подойдите к пианино.
                      Если пианино нет - держи это <a href="https://www.onlinepianist.com/virtual-piano">
                        Пианино</a></i><br>
                    <strong>Задача: играть 1 ноту каждого аккорда в такт под музыку</strong><br>
                    У песни <a target="_blank" href="https://music.yandex.ru/album/5576245/track/36246">"Rape me"</a>
                    аккорды: A(Ля)
                    C(До) E(Ми) G(Соль)<br>
                    Значит нам надо научиться играть ноты: Ля До Ми Соль . <br>
                    Начните играть ноты. Потом играйте по музыку.</p>
                  <div class="d-none">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/F70JXh-2H00" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="veteran" role="tabpanel" aria-labelledby="veteran">
              <div>
                <div>
                  <h3>Опытный - 10 мин</h3>
                  <p>
                    Музыка становится более насыщенной. Магия!<br>

                    <strong>Задача: играть все ноты каждого аккорда в такт под музыку</strong><br>
                    У нирваны аккорды: A(Ля) C(До) E(Ми) G(Соль)<br>
                    Пример: Аккорд C -> ноты До Ми Соль <br>
                    Значит нам надо научиться играть все ноты этих аккордов
                    одновременно из вашей таблици . <br>
                    Начните играть. Потом играйте по музыку.
                  </p>
                  <div class="d-none">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/F70JXh-2H00" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="master" role="tabpanel" aria-labelledby="master">
              <div>
                <div>
                  <h3>Мастер - 15 мин</h3>
                  <p>Играть становится легче, максимум разнообразия. Магия! <br>

                    <strong>Задача: играть аккорды с любой ноты, а не только с первой</strong><br>
                    У нирваны аккорды: A(Ля) C(До) E(Ми) G(Соль)<br>
                    Значит нам надо научиться играть с любой ноты из представленного аккорда в вашей таблице.
                    <br>Пример:
                    Аккорд C -> Ноты <i>Ми Соль До</i> или ноты <i>Соль Ми До</i><br>
                    Начните играть. Потом играйте по музыку.
                  </p>
                  <div class="d-none">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/F70JXh-2H00" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <hr>
    <div style="margin-bottom: 150px;">
      <h2>Поздравляю! Вы стали добились успеха в вашей песне!</h2>
      <div>Продолжайте оттачивать своё мастерство или найдите новую песню, которая вам нравится.
        <br>Пишите мне в вк <a href="https://vk.com/lyu_mih">vk.com/lyu_mih</a> , буду рад вам помочь и пообщаться! <br>
        P.S. И если вы ещё не сыграли ни одной ноты - то дело не в
        том, что вы ничего не умеете. Вы просто ленивец
      </div>
    </div>

    <nav class="navbar fixed-bottom  navbar-light bg-light">
      <div class="row">
        <div>♥ Сайт полностью бесплатен ♥</div>
        <div>♥ Благодарим за 💰🙋🍨 ♥</div>
        <div>♥ Сбербанк: 89105990489 ♥</div>
        <div>♥ ВКонтакте: <a target="_blank" href="https://vk.com/lyu_mih">vk.com/lyu_mih</a> ♥</div>
      </div>
    </nav>

  </div>
</body>

</html>